@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

* {box-sizing: border-box}
body {font-family: Titillium, Open-Sans, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
/*pushes links to bottom*/

.navbar-bottom {
  width: 100%;
  background-color: #555;
  overflow: auto;
   bottom: 0;
   position: fixed;

  } 


.navbar a {
  float: left;
  float: down;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align: left;
}

.navbar-bottom a {
  float: left;
  float: down;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align: left;
}


.img {
  max-width: 100%;
  height: auto;
} 

.navbar a:hover {
  background-color: #000;
}


.navbar a.active { 
  background-color: green;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
 
.logo { 
    color: green;
    font-size:8ch;
    font-weight: 750;
    animation-name:  color-change;
    animation-duration: 14s;
    text-align:center;
}
@keyframes color-change {
  0% { color: pink; }
  25% { color: gold; }
  50% { color: red;}
  75% { color: green;}
  
}

.active{
    border-bottom: 1px solid #3a3a3a;
}
   

#rat-bike-image {
  width: 100%;
  height: 600px;
  height: auto; 
  background-image: url(../images/long-gate.jpeg);
  background-repeat:no-repeat;
  background-size: contain;
  border: 1px solid red;
}

.img{
  border-color: green;
  display: inline-block;
  margin-left: auto;
  margin-right: 77px;
}

.container {
  position: static;
  width: 100%;
  overflow: hidden;
  padding-top: 75%;
}

/*
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border:rgb(115, 117, 115);
}
*/
.form-section {
  height: 900px;
  clear: left;
  background-image: url(../images/rat-bike.jpg );
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  /*width: 100%;*/

}

.signup-form{
  margin: 150px 10% 0 0;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px
  
}

signup-form > header{
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 20px 0 5px;
  border: 1px solid #fafafa;
  border-radius:  2px;
  
}

.text-input:hover {
background-color: yellow;
border-color: #f16c6b;
/*background: transparent;*/
color: #fafafa;
width: 100%;
height: 25px;
margin: 5px, 20px;
}

.join-button{
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color:  #f16c6b;
  color: #fafafa;
  display: block;
  
}
.join-button:hover{
  background-color: #fafafa;
  color: #f16c6b;
}

.form {
  margin: 150px 10% 0 0;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  top: 39%;
  left: 27%;
  padding: 28px;
}
/*responsive image in index.html*/
.responsive {
  width: 100%;
  height: auto;
 /* min-height: 450px; */
  background-size: auto;
}


.headerbackg{
    padding: 0%;
    height: auto;
    width: 100%;
    background-color: #555;
}

/*
body {
  background-image: url("../images/rat-bike.jpg");
  background-color: #cccccc;
 } */
